<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <!-- section>group>field -->
    <default>
        <giftcard>
            <general>
                <enable_module>1</enable_module>
                <allow_giftcard_checkout>1</allow_giftcard_checkout>
                <allow_redeem_giftcard_checkout>0</allow_redeem_giftcard_checkout>
            </general>
            <code_config>
                <code_length>12</code_length>
                <customer_group>retailer</customer_group>
            </code_config>
        </giftcard>
    </default>
</config>